*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --color-text: #a5a7ba;
  --color-white: #e6e2dd;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.5);
  --shadow-dark-2: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1); }

html,
body {
  height: 100%;
  font-size: 62.5%;
  color: var(--color-text); }

h1 {
  font-size: 12rem; }

h2 {
  font-size: 3rem; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex; }

aside {
  flex: 1 0 25%;
  display: flex;
  flex-direction: column; }

header {
  flex: 1 0 40%;
  display: flex;
  flex-direction: column; }

.header-picture {
  flex: 1 0 70%;
  display: flex;
  justify-content: center;
  align-items: center; }

.img {
  background-color: red;
  width: 23rem;
  height: 23rem;
  border-radius: 120rem;
  box-shadow: var(--shadow-dark-2);
  transition: all 1s; }
  .img:hover {
    transform: translateY(-2rem); }

.header-social {
  flex: 1 0 30%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center; }

.header-social ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center; }

.header-social li {
  flex: 1 0 0;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 120rem; }

.header-social li i {
  color: white;
  font-size: 5rem;
  transition: all 0.4s; }
  .header-social li i:hover {
    color: fuchsia;
    transform: scale(1.5); }

nav {
  font-size: 3rem;
  color: black;
  text-align: right;
  flex: 1 0 60%;
  display: flex;
  justify-content: flex-end; }

nav ul {
  width: 80%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center; }

nav ul li {
  letter-spacing: 0.3rem;
  padding: 0.6rem;
  width: 15rem;
  margin: 0.7rem;
  margin-right: 3rem;
  transition: all 1s; }
  nav ul li:hover {
    color: fuchsia;
    text-decoration: underline; }

nav ul li a {
  color: grey;
  text-decoration: none; }

main {
  font-size: 3rem;
  flex: 1 0 75%;
  position: relative;
  background-color: rgba(129, 194, 255, 0.7);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

main iframe {
  width: 70%;
  height: 70%;
  background-color: white;
  opacity: 0.8; }

.iframe-content {
  display: flex;
  justify-content: center;
  align-items: center; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.65;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }
