*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-text: #a5a7ba;
  --color-text-nav: #3c3f42;
  --color-white: #e6e2dd;
  --color-nav: #f1f1f1;
  --color-gradient-1: #30cfd0;
  --color-gradient-2: #330867;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.5);
  --shadow-medium: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}

$color-gradient-1: #30cfd0;
$color-gradient-2: #330867;

/* BREAKPOINTS */

/*
300-500
720-770
1024
1280
1600
1920
*/

//MEDIA QUERY MANAGER

/*
0 - 600px: Pjone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
[1200 1800px] is where normal styles apply
1800px + : Big desktop


$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px


*/

@mixin respond($breakpoint) {
  @if $breakpoint==smll {
    @media only screen and (min-width: 31.25em) {
      @content;
    } //500px/16
  }
  @if $breakpoint==mdm {
    @media only screen and (min-width: 45em) {
      @content;
    } //720px
  }
  @if $breakpoint==lg {
    @media only screen and (min-width: 64em) {
      @content;
    } //1024px
  }
  @if $breakpoint==xlg {
    @media only screen and (min-width: 80em) {
      @content;
    } //1280px
  }
  @if $breakpoint==hg {
    @media only screen and (min-width: 120em) {
      @content;
    } //1920px
  }
}

html,
body {
  height: 100%;
  font-size: 50%;
  color: var(--color-text);
  @include respond(smll) {
    font-size: 55%;
  }
  @include respond(mdm) {
    font-size: 62.5%;
  }
  @include respond(xlg) {
    font-size: 70%;
  }
  @include respond(hg) {
    font-size: 75%;
  }
}

h1 {
  font-size: 12rem;
}

h2 {
  font-size: 3rem;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @include respond(lg) {
    flex-direction: row;
  }
}

aside {
  background-color: var(--color-nav);
  flex: 1 0 10%;
  display: flex;
  flex-direction: column;
  @include respond(lg) {
    flex: 1 0 25%;
  }
}

header {
  flex: 1 0 40%;
  flex-direction: column;
  display: none;
  visibility: hidden;
  @include respond(lg) {
    display: flex;
    visibility: visible;
  }
}

.header-picture {
  flex: 1 0 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  border-radius: 120rem;
  width: 15rem;
  height: 15rem;
  box-shadow: var(--shadow-medium);
  transition: all 0.5s;

  @include respond(hg) {
    width: 18rem;
    height: 18rem;
  }
}

.header-social {
  flex: 1 0 30%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-social ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-social li {
  flex: 1 0 0;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 120rem;

  @include respond(xlg) {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }

  @include respond(hg) {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
  }
}

.header-social li i {
  color: var(--color-gradient-2);
  font-size: 3rem;
  transition: all 0.4s;
  &:hover {
    color: var(--color-gradient-1);
    transform: scale(1.5);
    text-shadow: var(--shadow-medium);
  }

  @include respond(lg) {
    font-size: 4rem;
  }

  @include respond(xlg) {
    font-size: 4.5rem;
  }

  @include respond(hg) {
    font-size: 5rem;
  }
}

nav {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  flex: 1 0 60%;
  display: flex;
  justify-content: space-between;
  @include respond(lg) {
    text-align: right;
    justify-content: flex-end;
  }
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  @include respond(lg) {
    width: 80%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
}

nav ul li {
  letter-spacing: 0.1rem;
  padding: 0.1rem;
  margin: 0.2rem;
  transition: all 1s;
  &:hover {
    color: fuchsia;
    text-decoration: underline;
  }
  @include respond(lg) {
    letter-spacing: 0.3rem;
    padding: 0.6rem;
    margin: 0.7rem;
    margin-right: 3rem;
    width: 15rem;
  }
}

nav ul li a {
  color: var(--color-text-nav);
  text-decoration: none;
  border: 0.1rem solid black;
  padding: 1rem;
  @include respond(lg) {
    border: 0;
  }
}

main {
  font-size: 3rem;
  flex: 1 0 90%;
  position: relative;
  //background-color: rgba(129, 194, 255, 0.7);
  //background-image: linear-gradient(to right bottom, var(--color-gradient-1), var(--color-gradient-2));
  background-image: linear-gradient(
    to right bottom,
    rgba($color-gradient-1, 0.5),
    rgba($color-gradient-2, 0.5)
  );
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include respond(lg) {
    flex: 1 0 75%;
  }
}

main iframe {
  width: 70%;
  height: 70%;
  background-color: white;
  opacity: 0.8;
}

.iframe-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.65;
  overflow: hidden;
  display: none;
  visibility: hidden;
  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  @include respond(lg) {
    visibility: visible;
    display: initial;
  }
}
