@import "utils/variables";
@import "utils/mixins";

@import "base/reset";
@import "base/typography";

@import "components/buttons";

@import "layout/aside";
@import "layout/header";
@import "layout/content";
@import "layout/nav";

@import "pages/home";
@import "pages/projects";
@import "pages/about";
@import "pages/contact";

body {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  
  @include respond(lg) {
    flex-direction: row;
  }
}