:root {
  --color-text: #a5a7ba;
  --color-text-nav: #3c3f42;
  --color-white: #e6e2dd;
  --color-nav: #f1f1f1;
  --color-gradient-1: #30cfd0;
  --color-gradient-2: #330867;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.5);
  --shadow-medium: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}

$color-gradient-1: #30cfd0;
$color-gradient-2: #330867;
