.projects-text {
    font-size: 1.5rem;
    @include respond(lg) {
      font-size: 2.5rem;
    }
  }

  .benchplan-images {
    & img {
      width: 15rem;
      height: auto;
      padding: 1rem;
      @include respond(lg) {
        width: 18rem;
        height: 18rem;
      }
    }
  }