main {
  font-size: 3rem;
  flex: 1 0 90%;
  position: relative;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-gradient-1, 0.5),
    rgba($color-gradient-2, 0.5)
  );
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include respond(lg) {
    flex: 1 0 75%;
  }
}

main iframe {
  width: 80%;
  min-height: 90%;
  background-color: var(--color-white);
  box-shadow: var(--shadow-medium);
  @include respond(lg) {
    min-height: 70%;
    width: 70%
  }
}

.iframe-content {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  text-align: center;
  padding: 4rem;
  color: var(--color-text);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.65;
  overflow: hidden;
  display: none;
  visibility: hidden;
  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  @include respond(lg) {
    visibility: visible;
    display: initial;
  }
}
