header {
  flex: 1 0 40%;
  flex-direction: column;
  text-align: center;
  @include respond(lg) {
    display: flex;
    visibility: visible;
  }
}

.header-title {
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: var(--color-text-nav);
  color: var(--color-white);
  letter-spacing: 0.5rem;

  @include respond(lg) {
    font-size: 1.3rem;
  }

  @include respond(xlg) {
    font-size: 1.5rem;
  }
}

.header-picture {
  flex: 1 0 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  visibility: hidden;

  @include respond(lg) {
    display: flex;
    visibility: visible;
  }
}

.img {
  border-radius: 120rem;
  width: 15rem;
  height: 15rem;
  box-shadow: var(--shadow-medium);
  transition: all 0.5s;

  @include respond(hg) {
    width: 18rem;
    height: 18rem;
  }
}

.header-social {
  flex: 1 0 30%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  visibility: hidden;

  @include respond(lg) {
    display: flex;
    visibility: visible;
  }
}

.header-social ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-social li {
  flex: 1 0 0;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 120rem;

  @include respond(xlg) {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  @include respond(hg) {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

/** ICONS **/
.header-social li i {
  color: var(--color-gradient-2);
  font-size: 2rem;
  transition: all 0.4s;
  &:hover {
    color: var(--color-gradient-1);
    transform: scale(1.5);
    text-shadow: var(--shadow-medium);
  }

  @include respond(lg) {
    font-size: 3rem;
  }

  @include respond(xlg) {
    font-size: 3.5rem;
  }

  @include respond(hg) {
    font-size: 4rem;
  }
}
